body {
    font-family: 'Courier New', Courier, monospace;
    color: pink;
    background-color: rgb(0, 0, 0);
}

.sections {
    display: flex;
    border: 2px dashed rgb(0, 26, 255);
    justify-content: center;
}

.bm3, .bm5 {
    padding: 100px;
    border: 2px solid green;
    border-radius: 3rem;
}